body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: rgb(250, 189, 128);
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    color: #792400;
}

#botaoCarregar {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e4540c;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 200px;
}

#botaoCarregar:hover {
    background-color: #ff6f3c;
}

#cervejasDiv {
    margin-top: 30px;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

th {
    background-color: #e4540c;
    color: white;
    padding: 15px;
    font-size: 18px;
}

td {
    padding: 12px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tr:hover {
    background-color: #ffe3cd;
}
