

.container {
  text-align: center;
  padding: 20px;
  background-color: #084d6e;
  margin: 0;
}

.container h2 {
  color: #e6e6e6;
}

.about {
  margin-bottom: 20px;
}

.contact {
  font-style: italic;
  color: #888;
}