body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ADD8E6;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ADD8E6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(240, 248, 255, 0.8); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 1.1em;
}

thead {
  background-color: rgba(0, 65, 106, 0.9); 
  color: white;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: rgba(234, 246, 255, 0.7); 
}

td:nth-child(3) {
  color: #00416A;
  font-weight: bold;
}

tbody tr:hover td {
  background-color: rgba(209, 231, 247, 0.9); 
}
